@import "./base.scss";
.carousel-item {
    img {
        height: 80vh;
        object-fit: cover;
    }
}

.slider-section {
    position: relative;
}

// search form
.search-form {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    input {
        padding: 20px;
    }
    .geocode-result {
        top: 70px !important;
    }
    button {
        width: 60px;
        position: absolute;
        top: 1px;
        right: 12px;
        padding: 19px;
        z-index: 1;
    }
}

// top citis
.top-cities {
    .card {
        img {
            height: 250px;
            object-fit: cover;
        }
    }
}
