@import "./base.scss";

.properties {
    padding-top: 50px;
    .result-item {
        .image {
            position: relative;
            img {
                height: 100%;
                object-fit: cover;
            }
            .rent-sticker {
                position: absolute;
                top: 0px;
                left: 0px;
                padding: 5px 10px;
                color: white;
            }
        }
        .res-desc {
            position: relative;
            .price {
                position: absolute;
                top: 0px;
                right: 0px;
                button {
                    padding: 10px;
                    border-radius: 0px;
                }
            }
            .get-details {
                position: absolute;
                bottom: 0px;
                right: 0px;
                button {
                    padding: 10px;
                    border-radius: 0px;
                }
            }
            .card-text {
                .share {
                    font-size: 16px;
                }
            }
        }
    }
}

.detail-modal {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: scroll;
    .fa-window-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        cursor: pointer;
        z-index: 99999;
    }
    .detail-container {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        .detail-gallery {
            .swiper-slide {
                img {
                    height: 60vh;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .detail-description {
            table {
                tr {
                    td {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

.payment-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 99999;
    background-color: white;
    overflow-y: auto;
}

.map-modal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .fa-window-close {
        font-size: 30px;
        position: absolute;
        top: 10px;
        right: 20px;
    }
    #map-content {
        height: 80%;
        width: 90%;
        border-width: 10px !important;
    }
}

#addr-overlay {
    background-color: white;
    height: 30px;
    width: 90%;
    position: absolute;
    top: 5px;
    left: 20px;
    display: flex;
    align-items: center;
    color: black;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}
