@import url(https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);
* {
  color: #262629;
  scroll-behavior: smooth;
  font-family: "Sen", sans-serif;
  font-weight: 300;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
}

a {
  color: #262629;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: black;
}

input,
textarea {
  width: 100% !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
   -ms-user-select: auto !important;
       user-select: auto !important;
}

input[type=date] {
  display: block;
  /* Solution 1 */
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em;
  /* Solution 2 */
  /* min-width: 96%; */
}

#alert-message {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 30%;
  z-index: 9;
  background: #2a6efd;
  background: linear-gradient(263deg, #2a6efd 0%, #47c8ba 79%);
  color: white;
  box-shadow: 0px 0px 20px black;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  #alert-message {
    width: 70%;
  }
}
input,
textarea {
  padding: 5px;
  width: 100%;
  border: 1px solid grey;
}
input:focus,
textarea:focus {
  outline-color: #2a6efd;
}

.ot-title {
  margin-bottom: 30px;
}
.ot-title span {
  padding: 10px;
  background-color: #1273eb17;
  color: #47c8ba;
  border-radius: 20px;
  font-size: 18px;
}

.p-color {
  color: #2a6efd !important;
}

.bg-p {
  background-color: #2a6efd !important;
}

/* header  */
.top-gap {
  height: auto;
  width: 100%;
}

.top-notice {
  background-color: #2a6efd;
  color: white;
  text-align: center;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-notice p {
  margin: 0px;
  color: white;
}

.gap {
  height: auto;
}

.navbar {
  background-color: white;
  padding: 0px;
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar p,
.navbar a,
.navbar i,
.navbar h2 {
  color: #262629;
}
.navbar .nav-menu {
  position: absolute;
  top: 40px;
  right: 20px;
  display: none;
}
.navbar .nav-menu i {
  color: #2a6efd !important;
  font-size: 20px !important;
}
.navbar .nav-list {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navbar .nav-list .nav-list-item {
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.navbar .nav-list .nav-list-item .nav-logo {
  margin-top: 5px;
  width: auto;
  height: auto;
}
.navbar .nav-list .nav-list-item .nav-logo img {
  width: 250px !important;
  transition: all 0.3s ease;
}
.navbar .nav-list .nav-list-item .nav-links {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}
.navbar .nav-list .nav-list-item .nav-links li {
  padding: 0px 10px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar .nav-list .nav-list-item .nav-links li a {
  color: #2a6efd;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
}
.navbar .nav-list .nav-list-item .nav-signup-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-left: 10px;
  position: relative;
}
.navbar .nav-list .nav-list-item .nav-signup-login a {
  display: block;
  padding-top: -5px;
  color: #2a6efd;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar .nav-list .nav-list-item .nav-signup-login a i {
  color: #2a6efd;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items {
  height: auto;
  padding-top: 5px;
  padding-bottom: 15px;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items:hover .fa-dashboard {
  cursor: pointer;
  text-align: center;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items:hover .loggedin-list {
  display: block;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .fa-dashboard {
  cursor: pointer;
  text-align: center;
  margin-top: -10px;
  padding: 3px;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .fa-dashboard:before {
  display: none;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .fa-dashboard i {
  padding: 8px 9px;
  border-radius: 50%;
  border: 2px solid #2a6efd;
  color: #2a6efd;
  font-size: 14px;
  margin-top: 5px;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .loggedin-list {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  display: none;
  width: 180px;
  padding: 0px;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 9;
  padding-bottom: 10px;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .loggedin-list li:first-child {
  background-color: #2a6efd;
  color: white !important;
  padding: 5px;
  padding-left: 10px;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .loggedin-list li:first-child:hover {
  background-color: #2a6efd;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .loggedin-list li:first-child a {
  color: white !important;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .loggedin-list li {
  padding-left: 10px;
  color: #2a6efd;
  font-size: 13px;
  font-weight: bolder;
  text-transform: capitalize;
  margin-bottom: 0px;
  font-size: 13px;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .loggedin-list li:hover {
  background-color: #f8f9fa;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .loggedin-list li a {
  padding: 3px 0px;
  cursor: pointer;
  margin-top: 5px;
  display: block;
  width: 100%;
  color: #2a6efd;
  font-size: 13px;
  font-weight: lighter;
}
.navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .loggedin-list li a i {
  color: #2a6efd;
}

@media screen and (max-width: 1000px) {
  .navbar {
    width: 100%;
    border-bottom: 1px solid #f8f9fa;
    background-color: white;
  }
  .navbar .nav-menu {
    display: block;
    top: 15px;
  }
  .navbar .nav-menu i {
    font-size: 40px !important;
    color: white;
  }
  .navbar .nav-list {
    flex-direction: column;
  }
  .navbar .nav-list .nav-list-item .nav-links {
    padding: 0px;
    transition: display 0.3s ease;
    position: fixed;
    top: 90px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: none;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    z-index: 9999;
  }
  .navbar .nav-list .nav-list-item .nav-links li {
    height: auto;
    margin-top: 20px;
    padding: 5px 10px;
    border-bottom: 1px solid white;
  }
  .navbar .nav-list .nav-list-item .nav-links li a {
    font-weight: bold;
    color: #2a6efd;
    text-align: center;
  }
  .navbar .nav-list .nav-list-item .nav-links li #services-nav .services-nav-list {
    display: none !important;
  }
  .navbar .nav-list .nav-list-item .nav-links #services-nav:hover .services-nav-list {
    display: none;
  }
  .navbar .nav-list .nav-list-item .nav-signup-login {
    position: absolute;
    top: 10px;
    left: 15px;
  }
  .navbar .nav-list .nav-list-item .nav-signup-login a {
    font-size: 39px;
    font-weight: bold;
  }
  .navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items {
    margin-top: 0px;
  }
  .navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .fa-dashboard {
    height: auto;
  }
  .navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .fa-dashboard i {
    margin-top: 0px;
    font-size: 20px;
  }
  .navbar .nav-list .nav-list-item .nav-signup-login .logged-in-items .loggedin-list {
    top: 0px;
    left: 0px;
    z-index: 9;
  }
}
@-webkit-keyframes nav_in {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@keyframes nav_in {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
@-webkit-keyframes nav_out {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes nav_out {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@media screen and (max-width: 768px) {
  .logged-in-items {
    padding-top: 0px !important;
  }
  .logged-in-items .fa-dashboard p {
    display: none;
  }
  .logged-in-items .loggedin-list {
    top: 50px !important;
  }
}
* {
  font-family: "Sen", sans-serif;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.carousel-item img {
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-section {
  position: relative;
}

.search-form {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.search-form input {
  padding: 20px;
}
.search-form .geocode-result {
  top: 70px !important;
}
.search-form button {
  width: 60px;
  position: absolute;
  top: 1px;
  right: 12px;
  padding: 19px;
  z-index: 1;
}

.top-cities .card img {
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
